.buttonRow {
	/*
     This element houses absolutely-positioned visually-hidden labels.
     We want them to be contained by this scroll container,
     to avoid introducing a scrollburglar.
    */
	position: relative;
	overflow-x: auto;
	white-space: nowrap;
	margin-left: -22px;
	margin-right: -22px;
	margin-bottom: -22px;
	padding: 22px;
}
